    body{
    display : flex;
    flex-direction: column;
    text-align: center;
    size: 5px;
    font-family: 'Times New Roman', Times, serif;
    }

    p{
    color: black;    
    text-align: justify;
    }

    h1{
    text-align: center;
    color: navy;    
    }

    h2{
    font-weight: bolder;   
    text-align: left; 
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: auto;
    margin-left: auto;
    color: navy;
    }

    main{
    display:flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:auto;
    font-family: 'Times New Roman', Times, serif;
    }

    header, footer{
    text-align: center;
    color:navy;
    }

    aside{
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column-reverse;
    text-align: left;
    width: 50em;
    padding: 5px;
    }

    nav{
    padding:10px;
    }

    article{
    font-size: 18px;
    padding: 10px;
    text-align: justify;
    size: 10px;
    font-family: 'Times New Roman', Times, serif;
    }

    nav ul{
    color: black;
    margin:5px;
    padding:10px;
    size: 10;
    text-align:justify;
    order: -1px;
    }

    nav a{   
    color: black;
    text-align:justify;
    margin: 5px;
    padding:10px;
    size: 10;
    order: -1px;
    }

    @media (min-width : 640px){
    main{
    flex-direction: column;
    }

    img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:80%;
    width:40%;   
    height: auto;  
    margin-bottom: 50px;
    margin-top: 50px;
    border: navy solid 3px;
    }


    nav{
    order: -1px;;    
    }

}
